doctype
html
  head
    meta(charset="utf-8")
    meta(content="telephone=no", name="format-detection")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(href="/weixin-static/static/dist/css/layout/base.css", rel="stylesheet")
    link(href="/weixin-static/static/dist/css/ui.css", rel="stylesheet")
    block link
    block title
    script(src="/weixin-static/static/dist/js/libs/sea.min.js")
    script(src="/weixin-static/static/dist/js/libs/base.js")
    script(src="/weixin-static/static/dist/js/config.js")
  body
    block content
    block script
